{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl md:text-5xl  lg:text-6xl mt-4 lg:mt-7 lg:mb-5 lg:text-10xl text-secondary-800">Liste des évenements</h1>
    <div class="flex flex-col ">
    {% for event in events %}
        <div class="flex flex-row m-2 bg-secondary-800/40 rounded-2xl ">
            <img class="w-1/4 rounded-2xl p-2" src="{{ asset("images/soigneur.jpg") }}">
            <div class="flex flex-col justify-center grow">
                <div class="flex flex-row">
                    <p class="text-primary-50 text-6sm md:text-2xl text-center ">{{ event.nomEvent }} </p>
                    <div class="hidden lg:flex justify-end grow lg:mr-3">
                        <p class="text-primary-50 text-4sm md:text-2xl text-end">Nombre de places : {{ event.nbPlaces }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
