html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.bouton_header{
    background-color: #004225;
    padding: 2%;
    border-radius: 15%;
}