html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

header{
    position: relative;
    background-color: #3b82f6;
    height: 74px;
}
.button_navabar{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.bouton_header{
    background-color: #004225;
    padding: 2%;
    border-radius: 15%;
    height: 65px;
    width: 120px;
    margin-top:30px ;
    padding: 0;
}
.reservation{
    background-color: #E7E049;
}