{% extends 'base.html.twig' %}

{% block title %}Choix d'un tarif{% endblock %}


{% block body %}
    <h1 class="text-center text-secondary-800 text-3xl md:text-5xl  lg:text-6xl lg:text-10xl mb-5 mt-36">Choisissez votre billet !</h1>
    <div class="flex flex-col flex-grow justify-center content-center p-10 justify-evenly mt-12 md:flex-row h-[100%]">
        {% for billet in billets %}
            <a class="flex w-[100%] mb-64 p-4 justify-center h-[80%]" href="{{ path('app_reservation_create', {'id':billet.id}) }}">
                <button class="billet flex flex-col p-4 justify-center bg-secondary-50/40 border-4 rounded-2xl  w-[75%] m-3 border-secondary-800 md:min-w-[40%]">
                    <span class="text-4xl"> {{ billet.nbJours }} Jours</span>
                    <span class="text-xl"> Tarif Enfant : {{ billet.tarifChild }} €</span>
                    <span class="text-xl"> Tarif Adulte : {{ billet.tarifAdult }} €</span>
                </button>
            </a>
        {% endfor %}
    </div>
{% endblock %}