{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <div class="flex justify-center bg-lion bg-cover bg-center bg-no-repeat">
        <div class="flex flex-col w-80 justify-center border-2 border-secondary-800 p-4">
            <div class="flex justify-center">
                <img class="w-40"  src="images/LogoZoo.png">
            </div>
            <p class="text-center">Découvrez le Zoo Parc de Laval, un joyau de la biodiversité en plein cœur de la Mayenne. Rencontrez des animaux fascinants, vivez des moments uniques en famille et explorez la beauté de la nature. Une aventure inoubliable vous attend !</p>
            <div class="flex flex-col">
                <button class="bg-primary-400 rounded p-2">Réservez vos billets</button>
                <button class="bg-secondary-800 rounded m-3 p-1">Réservez votre hôtel</button>
            </div>
        </div>
    </div>
    <div class="flex flex-col grow">
        <div class="bg-secondary-800 grow">
            <H1 class="text-background-100">Nos Animations</H1>
        </div>
        <div class="bg-background-100 grow">
            <H1 class="text-secondary-800">Nos Animaux</H1>
        </div>
    </div>
{% endblock %}
