{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <div>
        <div class="flex flex-col justify-center content-center h-30 w-60  ml-6">
            <img class="w-40"  src="images/LogoZoo.png">
            <p>Découvrez le Zoo Parc de Laval, un joyau de la biodiversité en plein cœur de la Mayenne. Rencontrez des animaux fascinants, vivez des moments uniques en famille et explorez la beauté de la nature. Une aventure inoubliable vous attend !</p>
            <div class="flex flex-col">
                <button class="bg-primary-400 rounded m-2">Réservez vos billets</button>
                <button class="bg-secondary-800 rounded m-2">Réservez votre hôtel</button>
            </div>
        </div>
    </div>
{% endblock %}
