<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="CSS/style.css" rel="stylesheet" >
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header class="header">
        <div class="header__logo">
            <img src="images/LogoZoo.png">
        </div>
        <div class="navbar">
        <button class="navbar_button">Découvrire le parc</button>
        <button class="navbar_button">Préparez votre visite</button>
        <button class="navbar_button">Spéctacles et activités</button>
        <button class="navbar_button">Les hôtels du parc</button>
        <button class="navbar_button">Se connecter/Mon compte</button>
        <button class="navbar_button--ctl">Réservez vos billets</button>
        </div>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
