
<div class="flex justify-center m-4">
    <form  method="get" role="search" class="flex flex-row" action="/{{ action }}">
        <input  aria-label="Search" name="search" class="text-lg lg:text-xl text-secondary-50  p-3 bg-secondary-800 rounded-2xl mr-3" type="search" placeholder="Rechercher">
        <button class="ml-3 btn bg-primary-500/70 col-start-2 col-end-4 text-xl lg:text-2xl rounded-xl p-2 border border-primary-50 border-s" type="submit">Rechercher</button>
    </form>
</div>